@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --blue: hsl(198, 60%, 50%);
  --cyan: hsl(176, 68%, 64%);
  --dark-blue-1: hsl(217, 28%, 15%);
  --dark-blue-2: hsl(218, 28%, 13%);
  --dark-blue-3: hsl(216, 53%, 9%);
  --dark-blue-4: hsl(219, 30%, 18%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  background: var(--dark-blue-2);
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

.container {
  width: min(89.3333%, 128rem);
  margin-inline: auto;
}

img,
svg {
  display: block;
}

/* Header Section */
.header {
  padding-top: 2.8rem;
  background-color: var(--dark-blue-1);
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.4rem;
}

.logo {
  width: 8rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.8rem;
}

.link {
  text-decoration: none;
  color: var(--white);
  display: block;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
}

.hero-section {
  grid-column: span 2;
}

.hero-section .illustration-wrapper {
  margin: 0 auto 4rem;
  max-width: 72rem;
}

.illustration {
  width: 100%;
  height: auto;
}

.main-heading {
  font-family: var(--secondary-font);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.hero-paragraph {
  font-size: 1.44rem;
  line-height: 1.5;
  padding: 0 1.28rem;
}

.button-link {
  background-color: var(--cyan);
  border-radius: 50px;
  color: var(--white);
  display: block;
  margin-top: 3.2rem;
  text-decoration: none;
  padding: 1.6rem 0;
  margin-inline: 4.4rem;
}

/* Main Section */
.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 9.2rem;
  margin-top: 12.8rem;
  margin-bottom: 17.6rem;
}

.feature-icon {
  width: 7.2rem;
  height: auto;
  margin-inline: auto;
  margin-bottom: 3.2rem;
}

.subheading {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 1.76rem;
  margin-bottom: 1.6rem;
}

.paragraph {
  font-size: 1.44rem;
  line-height: 1.5;
  padding: 0 0.4rem;
}

.stay-productive {
  margin-bottom: 15.2rem;
}

.stay-productive .illustration-wrapper {
  margin: 0 auto 5rem;
  max-width: 61.5rem;
}

.stay-productive-paragraph {
  text-align: left;
  margin-bottom: 1.6rem;
}

.link-wrapper {
  border-bottom: 1px solid var(--cyan);
  display: flex;
  flex-basis: auto;
  gap: 0.64rem;
  padding-bottom: 0.4rem;
  width: min(90%, 15rem);
}

.underlined-link {
  color: var(--cyan);
  text-decoration: none;
  text-align: left;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
}

.testimonial {
  background-color: var(--dark-blue-4);
  border-radius: 5px;
  padding: 2.8rem 2.8rem 2.4rem;
  line-height: 1.5;
  font-size: 1.2rem;
  position: relative;
}

.first-testimonial::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0.4rem;
  background-image: url("../images/bg-quotes.png");
  background-size: 100% 100%;
  width: 3.2rem;
  height: 2.56rem;
}

.testimonial-paragraph {
  text-align: left;
  margin-bottom: 2rem;
}

.client-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.avatar {
  width: 2.8rem;
  height: auto;
  border-radius: 50%;
}

.client-name,
.client-title {
  display: block;
  text-align: left;
}

.client-title {
  margin-top: 0.32rem;
  font-size: 0.96rem;
}

.early-access {
  background-color: var(--dark-blue-1);
  padding: 4.4rem 2.8rem 4rem;
  border-radius: 10px;
  position: relative;
  top: 17.6rem;
}

form {
  width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.email-input {
  outline: none;
  border: none;
  font: inherit;
  padding: 1.6rem 2.8rem;
  margin-top: 3.2rem;
  border-radius: 50px;
  width: 100%;
}

::placeholder {
  opacity: 1;
}

.get-started {
  outline: none;
  border: none;
  background-color: var(--cyan);
  border-radius: 50px;
  color: var(--white);
  margin-top: 2.4rem;
  padding: 1.6rem 0;
  width: 100%;
}

/* Footer Section */
.footer {
  background-color: var(--dark-blue-3);
  padding-top: 24.8rem;
  text-align: left;
}

.footer-logo {
  margin-left: 1.2rem;
  margin-bottom: 4.8rem;
}

.contact-info li {
  display: flex;
  gap: 2.4rem;
  align-items: flex-start;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.contact-info li:last-of-type {
  margin-bottom: 0;
}

.contact-info {
  margin-bottom: 8.8rem;
}

.footer .link {
  margin-bottom: 2rem;
}

.footer-links {
  list-style: none;
}

.contact-terms-privacy {
  margin-top: 3.2rem;
}

.socials {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 4.4rem;
}

.social-icon {
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab {
  color: var(--white);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--cyan);
}

/* Media Queries */
@media screen and (min-width: 850px) {
  /* Header Section */
  .header {
    padding-top: 7.25rem;
    background-image: url("../images/bg-curvy-desktop.svg");
  }

  .nav-bar {
    margin-bottom: 7.5rem;
  }

  .logo {
    width: 17.6rem;
  }

  .nav-links {
    gap: 5.3rem;
  }

  .link {
    font-size: 1.8rem;
  }

  /* Hero Section */

  .main-heading {
    font-size: 4rem;
    margin-bottom: 2.4rem;
  }

  /* Main Section */
  .features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9.2rem;
    margin-top: 12.8rem;
    margin-bottom: 17.6rem;
  }

  .stay-productive {
    display: flex;
  }

  .testimonials {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
  }

  /* Footer Section */

  .footer .container {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }

  .footer .logo-wrapper {
    grid-column: span 4;
  }
}
